@charset "UTF-8";
body {
    text-align: center; /* これでページ全体を中央寄せ */
}
table {
  border-collapse: separate;
  border-spacing: 1px
  vertical-align: bottom;
  margin: auto;
}
table img {
    display: block;
    padding: 0px;
    margin: 0px;
}
footer {
	padding-top: 20px;
	height: 150px;
	clear: left;
	text-align: center;
	position: relative;
	border-top: 1px #e3e3e3 solid;
}